body {
    font-family: Arial, sans-serif;
}

.header-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

.header-table td {
    border: 1px solid black;
    padding: 10px;
    vertical-align: middle;
}

.logo {
    width: 120px;
    text-align: center;
}

.titulo {
    text-align: center;
}

.titulo h3 {
    margin: 0;
    font-size: 14px;
    color: gray;
}

.titulo h2 {
    margin: 5px 0 0 0;
    font-size: 16px;
}

.info {
    width: 180px;
    font-size: 12px;
}

.info strong {
    display: inline-block;
    width: 60px;
}

